
*{
margin: 0;
padding: 0;
}
.nav{
display: flex;
position:  fixed; 
background-color: rgba(23, 21, 21, 0.596);
justify-content: space-between;
margin-top: 5px;
border-radius: 1rem;
width: 100%;
}
body{
background-color: rgb(21, 86, 16);
}

/* navigation bar */
.navbar{
display:flex;
align-items: center;
height: 75px;


}

/* logo and image */

.logo{
margin: 10px 34px;
}

.logo img{
height: 45px;
margin: 15px 20px;
border-radius: 1.5rem;
}
.navbar ul{
display: flex;
}
.navbar ul li{

list-style: none;
font-size: 1.2rem;
}

.navbar ul li a{
color: white;
padding: 3px 20px;
display: block;
border-radius: 20px;
text-decoration: none;
}
.navbar ul li a:hover{
color: rgb(212, 255, 0);
background-color: brown;
}
.home{
background: url('img/bg.png') no-repeat center center/cover;
display: flex;
flex-direction: column ;
padding: 3px 200px;
height: 400px; 
justify-content: center;
align-items: center;
}

.home h1{
color: rgb(255, 0, 0);
text-align: center;
}
.hp{
font-size: 3.5rem;
padding: 12px;
text-align: center;
}
.hh{
font-size: 2.5rem;
padding: 12px;
margin-top:10px;
}
.hs{
font-size: 2rem;
padding: 12px;
text-align: center;
}
.hs:hover{
text-decoration:underline;
cursor:pointer;
}
.b{
padding: 6px 20px;
border: 2px solid white;
background-color: brown;
margin: 20px;
font-size: 1rem;
border-radius: 8px;
cursor:pointer;
}

.services{
color: rgb(252, 252, 0);
}
.serv{
margin: 34px;
display: flex;


justify-content: space-between;
}
.serv .box{
width: 28%;
border: 2px solid brown; 
padding: 28px;
border-radius: 25px;
background-color: rgba(96, 109, 96, 0.668);

}
.serv .box img{
height: 150px;
display: block;
margin:auto;
}
.h{
font-size: 35px;

}
.h1{
font-size: 20px;
}


.card {
background-color: #232323;
width: 150px;
border-radius: 0.5rem;
padding: 1rem;
margin-left: 1.5rem;
margin-top: 1rem;
}

.cards-container {
display: flex;
flex-wrap: wrap;
}

.card-img {
width: 100%;
border-radius: 0.5rem;
}

.card-title {
font-weight: 500;
text-align: center;
margin-bottom: 0;
}

.card-info {
font-size: 0.85rem;
opacity: 0.8;
}

form input{
height: 25px;
width: 300px;
}
.track{
display: flex;
}
.food{
border: 2px solid brown; 
padding: 28px;
border-radius: 25px;
margin-left: 30px;
margin-right: 30px;
background-color: rgba(96, 109, 96, 0.668);
}
.food{
border: 2px solid brown; 
padding: 28px;
border-radius: 25px;
margin-left: 30px;
margin-right: 30px;
background-color: rgba(96, 109, 96, 0.668);
}
.contact{

background-color: rgba(0, 0, 0, 0.801);
color: rgb(255, 251, 0);
opacity: 0.8;
border-radius: 10px;
/* height: 250px; */
}
.contact .con{
align-items: center;
display:flex;
flex-direction: column;
}   

